[2020-10-06 16:43] prsolucoes opened #2 "Support for Coil"
Hi,

Can you add support for Coil?

https://github.com/coil-kt/coil

Thanks.

[2020-10-08 15:51] skydoves commented on #2
Work in progress: #3

[2020-10-09 06:02] skydoves commented on #2
Released a new version [1.0.4](https://github.com/skydoves/Landscapist/releases/tag/1.0.4).

[2020-10-09 06:02] #2 closed

[2020-11-25 11:51] tannotour opened #8 "No static method FrescoImage"
i write it according to doc,

FrescoImage(
            imageUrl = "https://www.google.com.tw/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png",
            contentScale = ContentScale.Crop
)

but got a "java.lang.NoSuchMethodError: No static method FrescoImage" error.
detail:
java.lang.NoSuchMethodError: No static method FrescoImage(Ljava/lang/String;Lcom/facebook/imagepipeline/request/

[2020-11-25 13:57] skydoves commented on #8
Hi, @tannotour.
Which version do you use?
In my project, `landscapist-1.1.0` and `compose-1.0.0-alpha07` work fine for me.

[2020-11-26 02:13] tannotour commented on #8
Hi，@skydoves.
now use compose-1.0.0-alpha07 work fine, thanks.
I used version compose-1.0.0-alpha04 yesterday and it does not work, It seems that it may be a problem with compose-1.0.0-alpha04.

[2020-11-26 02:13] #8 closed

[2020-12-08 09:11] miduch opened #9 "Images not loading after started using compose 1.0.0-alpha08"
- Library Version:  v1.1.1
- Pixel 4, Emulator

Images not loading anymore after started to use compose 1.0.0-alpha08, i have a CircularProgressIndicator set for loading {}
only that one is shown. No actual is loaded from provided url

**Expected Behavior:**

Images can be loaded

[2020-12-08 09:51] skydoves commented on #9
Hi, @miduch
I just build the [demo project](https://github.com/skydoves/disneycompose), but It works fine to me.
Could you test using the demo project?

[2020-12-08 09:56] skydoves commented on #9
I used this code:
[code]

[2020-12-08 11:26] miduch commented on #9
CoilImage otherwise seems to be working fine in test @Composable but in my actual use case it just doesn't get updated with fetched images and those spinners keep animating. urls are fine i checked

[2020-12-08 11:26] #9 closed

[2020-12-08 11:41] skydoves commented on #9
Could you give me some examples? I will check the problem.

[2020-12-09 13:16] miduch commented on #9
sorry for delay, actually it started to work correctly after i reinstalled app -> closed issue after that

[2021-02-25 14:57] piotrsedlak opened #13 "Failed resolution of: Landroidx/compose/ui/platform/AndroidAmbientsKt;"
**Please complete the following information:**
- Library Version 1.1.5

**Describe the Bug:**

After updating to compose beta01, when loading image i receive a crash(tried on coil and glide):

[code]

[code]

[crash.txt](https://github.com/skydoves/Landscapist/files/6043778/crash.txt)

**Expected Behavior:**
Image should load

[2021-02-25 15:02] skydoves commented on #13
Beta01 will be supported in the next release.
Thanks!

[2021-02-25 16:37] skydoves commented on #13
We can available now the new release `1.1.6` with the compose `1.0.0-beta01`!

[2021-02-25 17:09] Sirelon commented on #13
Thank you for your quick update! Works good!

[2021-02-25 17:26] #13 closed

[2021-02-25 23:16] GuilhE opened #14 "[Question] Local drawables"
I didn't find a way to load a local resources and apply the nice reveal animation, is it possible?
Thanks.

[2021-02-26 01:53] skydoves commented on #14
Hi, can you explain more details about the local resources with some examples?

[2021-02-26 12:02] GuilhE commented on #14
Instead of
[code]
Something like:
[code]

[2021-02-26 16:07] skydoves commented on #14
Ah, that's very simple.

[code]

[2021-02-26 22:17] GuilhE commented on #14
Thanks! 😅

[2021-02-26 22:17] #14 closed

[2021-04-07 14:30] itsyourapp opened #19 "Vector drawable support"
Hi, I am new to Jetpack Compose so there may be an easy way to do this, but in any case, this may help users of your library. Can we use vector drawables for placeholder images?

[2021-04-07 16:53] skydoves commented on #19
Hi, you can use a vector drawable for a placeholder like the below codes.

[code]

[2021-04-07 17:11] skydoves commented on #19
Hi, @itsyourapp
Thanks for your issue!
It will be supported in the next release. 👍

[2021-04-08 10:38] skydoves commented on #19
New version [1.1.9](https://github.com/skydoves/Landscapist/releases/tag/1.1.9) has been released!

[2021-04-08 14:24] itsyourapp commented on #19
@skydoves Great work! I am inspired by you and learning much from your codebases.

[2021-04-08 15:30] #19 closed

[2021-05-19 08:29] mrmans0n opened #23 "FrescoImage crashing with Compose beta 07"
**Please complete the following information:**
- Library Version [v1.2.1]
- Affected Device(s) [e.g. Pixel 4 XL]

**Describe the Bug:**

After updating the compose dependency to `1.0.0-beta07`, FrescoImage usages crash at runtime with this stacktrace:
[code]

And this is the calling code:

[code]

**Expected Behavior:**

Using FrescoImage should not cause a runtime crash.

[2021-05-19 13:11] skydoves commented on #23
Hi @mrmans0n,
Would you test using a SNAPSHOT version `1.2.2-SNAPSHOT`?
For importing the SNAPSHOT in your project, add the below code.

[code]

[2021-05-20 13:42] masterofdaemon commented on #23
how can i use it in gradle.kts?

[2021-05-20 13:44] skydoves commented on #23
maven(url = "https://oss.sonatype.org/content/repositories/snapshots/"

[2021-05-20 13:53] masterofdaemon commented on #23
same Error : java.lang.NoSuchMethodError: No interface method startRestartGroup(ILjava/lang/String;)Landroidx/compose/runtime/Composer;

[2021-05-20 13:56] skydoves commented on #23
I guess there is an official issue in [compose-beta07](https://developer.android.com/jetpack/androidx/releases/compose-ui#version_100_2).

java.lang.NoSuchMethodError: No interface method startReplaceableGroup(ILjava/lang/String;)V in class Landroidx/compose/runtime/Composer; or its super classes. (Ia34e6)

[2021-05-20 14:05] masterofdaemon commented on #23
I guess so, your module is the only one custom that i've used, can you report this issue?

[2021-05-21 07:23] wangchenyan commented on #23
I use [Google Accompanist](https://google.github.io/accompanist/coil/) instead

[2021-05-21 07:48] skydoves commented on #23
@mrmans0n @masterofdaemon @wangchenyan

Released a new version `1.2.2`.
And please check your compose-related dependencies version on your project, and update.

[code]

Thanks you for your issue :)

[2021-05-22 13:17] #23 closed

[2021-06-02 21:01] Vivecstel opened #25 "Landscapist runtime crash with beta 08."
**Please complete the following information:**
- Library Version [v1.2.2]
- Affected Device(s) [e.g. Samsung Galaxy s10 with Android 9.0]

**Describe the Bug:**

After updating the compose dependency to 1.0.0-beta08, all landscapist libraries (CoilImage, GlideImage, FrescoImage) crash at runtime with the following stackrace:

[code]
**Expected Behavior:**

CoilImage, GlideImage, FrescoImage should

[2021-06-03 01:39] skydoves commented on #25
Hi, @Vivecstel
`1.2.3-SNAPSHOT` has been released and `1.2.3` stable will be released soon.
Thanks!

[2021-06-03 08:52] Vivecstel commented on #25
@skydoves I have some issues with the fresco dependency. I will check later today if I am ok.
Thanks :)

[2021-06-03 15:45] Vivecstel commented on #25
Thanks @skydoves . 1.2.3 seems ok.

[2021-06-03 15:45] #25 closed

[2021-06-03 15:48] skydoves commented on #25
Thanks for checking!

[2021-06-22 04:45] davidsal opened #28 "Images not recomposing after changing the list of a LazyList"
**Please complete the following information:**
- Glide and Fresco v1.2.4

**Describe the Bug:**

I'm observing a Live Data List using observeAsState(). When I trigger a new event using value/postDelayed, the LazyList (LazyRow/LazyColumn) item recomposes everything (text, icons, colors) except the Glide/Fresco image, making the item keep the old image URL. I'm attaching a small video, you can see t

[2021-06-25 09:31] mrmans0n opened #29 "FrescoImage crashes in LazyRow/LazyColumn due to java.lang.RuntimeException: Canvas: trying to use a recycled bitmap android.graphics.Bitmap"
**Please complete the following information:**
- Library Version [1.2.4]
- Affected Device(s) [Pixel 4 XL, Emulators]

**Describe the Bug:**

When using FrescoImage in LazyRow / LazyColumn (any LazyItemScope based layout), for any amount of items that is more than the ones that fit on screen (so that there can be recycling happening), if you scroll around it will eventually crash due to trying to

[2021-06-25 10:49] skydoves commented on #29
Hi @mrmans0n ,
I just released `1.2.5-SNAPSHOT` with a little fix.
If the issue still happens, I will look into it deeply soon.
Thank you for your contribution :)

[2021-06-29 08:30] mrmans0n commented on #29
Hi!

[2021-06-29 15:07] skydoves commented on #29
Hi @mrmans0n,
I just create a demo branch on this repository and here is the simulation video.

https://user-images.githubusercontent.com/24237865/123822127-f5c93e00-d936-11eb-9050-aeca7c4e77c2.mp4

In this branch, I couldn't face any issues. I'm gonna look into deeply. 🤔

[2021-06-29 15:27] skydoves commented on #28
Hi @davidsal,
Does the `CoilImage` face the same issue?
I think that seems to happen on the GlideImage only from now, I will check into the requests.
Thank you for your issue :)

[2021-06-29 16:10] mrmans0n commented on #29
Cool, I tried your branch and it works.
I saw then what you changed and I made it not crash in our app. It was a matter of your changes to use the BaseBitmapReferenceDataSubscriber and use fresco 2.5.0.

Initially I tried your patch but I had fresco 2.4.0 in the rest of the build which was overriding your version update.

Now, with both changes, it seems to work.

[2021-06-30 05:59] skydoves commented on #29
Thanks for your check!
I will release the next version soon based on the new patches.

[2021-06-30 11:28] skydoves commented on #29
Released a new version `1.2.5`!
Thank you @mrmans0n for your contribution. :)

[2021-06-30 13:12] mrmans0n commented on #29
Thank you for your super fast fix :)

[2021-07-02 11:18] #29 closed

[2021-07-05 16:27] dant3 opened #32 "Add memoryCache support in Coil implementation"
**Is your feature request related to a problem?**

Coil requires explicit management of memoryCache. See https://coil-kt.github.io/coil/getting_started/#memory-cache
With memory cache, cached images would immediately show up. Right now, even enabling disk cache in coil I see flickers as I scroll the list of items with images in it.

**Describe the solution you'd like:**

Possibility to provide Mem

[2021-07-05 19:16] dant3 commented on #32
It turns out it's actually enough to set the memoryCachePolicy and memoryCacheKey to the request to make this work. Coil and this library does the rest for you. Not sure why coil documentation does not say about this.

[2021-07-05 19:16] #32 closed

[2021-07-16 07:49] madhurgupta10 commented on #28
@davidsal Same Issue for me, I am using Glide for Firebase Storage Reference!

[2021-07-16 08:52] skydoves commented on #28
Hi @madhurgupta10,
Thanks for sharing your issue :)
I'm working on this issue and it will be included in the next release probably today.
Thanks!

[2021-07-16 12:43] skydoves commented on #28
@davidsal @madhurgupta10
Released a new stable `1.2.8`!

[2021-07-19 05:32] madhurgupta10 commented on #28
@skydoves Thanks a lot, the issue is fixed for me :)

[2021-07-19 05:34] #28 closed

[2021-08-05 10:01] jayeshindianic opened #38 "CoilImage is now not found in latest coil library"
[code]

now in latest version, all parameter(option) are changed, ever name also change
you need to update readme file for coil.

[2021-08-05 10:11] skydoves commented on #38
I think you are misunderstanding about this library.
You should add the below dependency instead of the above them.

[code]

[2021-08-05 10:23] #38 closed

[2021-08-20 05:58] atonamy opened #42 "Shimmer effect is not working for GlideImage"
- Library Version
1.3.2

- Affected Device(s) [e.g. Samsung Galaxy s10 with Android 9.0]
Android Emulator version API 30

**Describe the Bug:**
Shimmer Effect is not working for GlideImage

[code]
This example doesn't show any shimmer effect :( Looks like is not working.

**Expected Behavior:**
It should show shimmer effect while loading the image.

[2021-08-20 06:56] skydoves commented on #42
Hi @atonamy
Could you build using the [demo](https://github.com/skydoves/Landscapist/tree/master/app) project?
There are two possibilities.

- Image loading is too fast. Then please make slow your network environment, (WIFI)
- `baseColor` or `highlightColor` is same as the background color. Then you can't see the shimmer because it was overlapped.

[2021-08-20 22:42] ashrafdawoud opened #43 "error with dependency installation"
java.lang.IllegalStateException: function = <anonymous>, count = 4, index = 4
	at androidx.compose.compiler.plugins.kotlin.lower.ComposerLambdaMemoization.wrapFunctionExpression(ComposerLambdaMemoization.kt:674)
	at androidx.compose.compiler.plugins.kotlin.lower.ComposerLambdaMemoization.visitComposableFunctionExpression(ComposerLambdaMemoization.kt:532)
	at androidx.compose.compiler.plugins.kotli

[2021-08-21 00:21] skydoves commented on #43
Hi, It seems your compose version is too low or compose-related build settings are not appropriate.
You can check the plugin & dependencies version [here](https://github.com/skydoves/disneycompose).

[2021-08-21 10:25] ashrafdawoud commented on #43
compose version is "1.0.0-beta07"  but i can't install dependancy

[2021-08-21 10:48] skydoves commented on #43
Oh.. the current compose version is `1.0.1`.
Or If you want to use that version, you can use landscapist `1.2.2` version instead.

[2021-08-21 10:50] #43 closed

[2021-08-23 04:12] atonamy commented on #42
When I set the same same `baseColor` with `ComposeView`  background color is not working properly when I changed `baseColor`  of  `shimmerParams`  or background color of `ComposeView` to different one it started working.

[2021-08-23 04:53] atonamy commented on #42
Also circularRevealedEnabled property not reviling properly some images for example like image like [this](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSSUWNyjA0q4Ytdm-QgFAn2S7nt8dTTglbiw&usqp=CAU)

The outcome the circle is not completing animation and keep corners rounded:
<img src="https://user-images.githubusercontent.com/5222190/130391577-19dc9d0e-e461-46be-a33b-715c766198d0.gif" wi

[2021-08-23 06:36] Notsfsssf opened #44 "Support animated-WebP for FrescoImage"
Hi,
Fresco's animated-webp support is impl with `SimpleDraweeView`
Is there any way to support dynamic pictures for `FrescoImage`?
https://frescolib.org/docs/animations.html
https://frescolib.org/docs/webp-support.html

[2021-08-23 07:27] skydoves commented on #42
That seems to work correctly. The shimmer works but you can't see because the color is the same.  Use different colors with the background color.

[2021-08-23 07:31] skydoves commented on #42
Could you build again with this option on your modifier? `.aspectRatio(0.8f)`.
`withCrossFade` will not work correctly and that is the expected result. Because the internal Glide image processor on this library doesn't use the `ImageView` concept for rendering fetched images.

[2021-08-24 05:19] atonamy commented on #42
Unfortunately this option didn't help.

Then if `withCrossFade`  is not working why this examples shows in `README.md` file  ?

<img width="877" alt="Screenshot 2021-08-24 at 1 17 26 PM" src="https://user-images.githubusercontent.com/5222190/130559982-c720b125-7026-4c05-a42d-457f264864aa.png">
<img width="854" alt="Screenshot 2021-08-24 at 1 17 51 PM" src="https://user-images.githubusercontent.com

[2021-08-25 15:16] skydoves commented on #42
Whoops, the README should be modified. Glide's `Transition.ViewAdapter` interfaces are based on the Android's `View`, so we should build the `corssfade` effect using the `CrossFade` in Jetpack Compose like the below. (Just a simple example without shimmer and circular reveal animation)

[code]

Also, the circular reveal animation seems like a bug! I will try to fix it in the next version.
Thanks!

[2021-08-28 08:52] skydoves commented on #44
Hi @Notsfsssf,
Thanks for your issue!
Here is a new SNAPSHOT dependency for showing the webp.

[code]

You can use `FrescoWebImage` for showing a webp file.

[code]

[2021-08-29 10:38] skydoves commented on #44
Released a new stable `1.3.4`.
Thank you for your issue!

[2021-08-29 10:38] #44 closed

[2021-09-12 04:20] jagan999 opened #57 "Unable to load an image file using file:///<location on disk>"
**Please complete the following information:**
- Library Version 1.3.6
- Affected Device(s) OnePlus 7t with Android 11

I've tried this snippet for loading a JPG image that's stored in my files directory. I have verified that this file exists locally on the device. I have tried load with the File object, the Uri and it still doesn't load the image
It fails to load the resource

[2021-09-12 04:31] jagan999 commented on #14
It is NOT the same issue. My issue is not about loading a drawable resource. That works fine. My issue is that I am unable to locate xyz.jpg file that is present on my local device under the system files directory

[2021-09-12 05:03] skydoves commented on #57
Hi, is this issue is related to this library or [request formatting issue](https://stackoverflow.com/questions/32332003/glide-load-local-image-by-uri)?
Could you check please it is working correctly in general Glide request?

[code]

Also, this issue could be affected by external storage permission.

[2021-09-12 10:41] jagan999 commented on #57
I have tried this as explained above. External storage permission is not the issue since I am only using internal files dir that does not need any permission. I have also tried wrapping ImageView inside AndroidView of Jetpack Compose and have the same issue.

[2021-09-12 10:43] skydoves commented on #57
Then I think this issue is related to [Glide](https://github.com/bumptech/glide), not this library.

[2021-09-13 11:12] #57 closed

[2021-09-17 05:14] madhurgupta10 opened #58 "[Question] How to place another view on top of image?"
Hi, I am trying to place a vector icon on top of the loaded image but it seems like the Glide Image is always stacked on top and other views are hiding behind the glide image

[code]

[code]

![1](https://user-images.githubusercontent.com/30932899/133728084-afdc8b53-c05f-47bb-85b8-5ff270ee25c8.jpeg)
![2](https://user-images.githubusercontent.com/30932899/133728088-79f93b11-16e9-46f9-ab3f-6a28bdbb0

[2021-09-17 05:22] madhurgupta10 commented on #58
Update: found a very simple solution, putting vector after the image load seems to solve this problem.

[2021-09-17 05:22] #58 closed

[2021-09-20 08:45] skydoves commented on #42
Fixed on a new SNAPSHOT release: `1.3.7-SNAPSHOT`.
This will be included in the next stable release.
Thanks for your report!

[2021-09-20 08:45] #42 closed

[2021-09-28 18:08] CloudyDino opened #62 "FrescoImage crash on null imageUrl"
**Please complete the following information:**
- Library Version: landscapist-fresco v1.3.6
- Affected Device(s): Pixel 3 Emulator with Android 11.0

**Describe the Bug:**
Tried to make a `FrescoImage` with a null `imageUrl` and painter resource for the error argument, but I got a crash because the imageUrl was null. Happens because `LocalFrescoProvider.getFrescoImageRequest` takes a nullable imag

[2021-09-30 12:31] skydoves commented on #62
Hi @CloudyDino,
The issue has been fixed on the new release `1.3.7-SNAPSHOT`.
Thanks for your report!

[2021-10-01 12:55] skydoves commented on #62
This issue has been released on the new stable `1.3.7`.
Thanks!

[2021-10-01 12:55] #62 closed

[2021-10-07 03:36] WadeXHong opened #67 "[Suggestion] Mark dependency version in document or release note"
When I used Landscapist with Glide in my present project for the first time, I run into a start up crash thrown by Glide with little information. Finally I found out it might cause by the minor different dependency version of Glide between project and library (4.9.0 vs 4.12.0).
Maybe it's better to put dependency version in README or just tell user to find it in `dependencies.gradle` by themselves

[2021-10-07 05:13] skydoves commented on #67
Hi @WadeXHong,
That's a great point. I will update README including the libraries' dependency versions.
Thanks!

[2021-10-07 08:35] #67 closed

[2021-10-26 11:19] imandaliya opened #76 "Problem in preview"
Lib Version : `implementation "com.github.skydoves:landscapist-glide:1.3.9"`

Testing Demo Code :

[code]

Error : Render Problem in Design

`
java.lang.IllegalStateException: You cannot call Glide.get() in registerComponents(), use the provided Glide instance instead   at com.bumptech.glide.Glide.checkAndInitializeGlide(Glide.java:205)   at com.bumptech.glide.Glide.get(Glide.java:191)   at com.bu

[2021-10-27 11:26] #76 closed, assigned to skydoves

[2021-11-02 10:42] nosyjoe commented on #76
@skydoves thanks for the update. Unfortunately, using version `1.4.1`, I'm still getting the crash that the @androidapkr has initially reported . And unfortunately no image :(

Even when specifying a previewPlaceHolder, a Glide / `RequestBuilder` instance is being constructed by the default parameter value:

`requestBuilder: RequestBuilder<Drawable> = LocalGlideProvider.getGlideRequestBuilder(imag

[2021-11-02 10:45] skydoves commented on #76
Hey @nosyjoe,
Could you build this [demo project](https://github.com/skydoves/Landscapist/tree/main/app) on your laptop?

[2021-11-02 10:53] nosyjoe commented on #76
Hi @skydoves - yes I can build it. Preview does work.

However, the previews in `MainPosters.kt` do not use a GlideImage. When I replace the `FrescoImage` in the  `HomePoster()` composable with a `GlideImage`, preview crashes with the same issue.

Hope this helps!

[2021-11-03 12:59] skydoves commented on #76
Hmm.. it works for me.

Could you let me know which version of the Android Studio do you use?

![Screen Shot 2021-11-03 at 9 56 29 PM](https://user-images.githubusercontent.com/24237865/140064219-1d1927e0-6024-4304-a7dd-f5d408873d50.png)

[2021-11-03 13:06] nosyjoe commented on #76
sure...I'm using the current stable on an Apple M1 Macbook:

Android Studio Arctic Fox | 2020.3.1 Patch 3
Build #AI-203.7717.56.2031.7784292, built on October 1, 2021
Runtime version: 11.0.10+0-b96-7249189 aarch64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 11.6.1

[2021-11-03 13:15] skydoves commented on #76
Thank you for your quick response.
I'm using Bumblebee, but I'm not sure this issue is related to the Android Studio. 🤔
I will look into more.

Android Studio Bumblebee | 2021.1.1 Canary 13
Build #AI-211.7628.21.2111.7762732, built on September 24, 2021
Runtime version: 11.0.11+0-b60-7590822 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 11.6
GC: G1 Young Generation, G1 Old Generati

[2021-11-03 14:14] nosyjoe commented on #76
Thank you for sharing. I tried the same with Bumblebee Beta 2. Biggest difference is in our archs,  Apple Silicon vs. x86_64 I guess.

[2021-11-03 14:14] nosyjoe commented on #76
I tried a solution that solves it for me, allows the preview to render and the app to run, with minimal changes: I changed the `requestBuilder` parameter type from `RequestBuilder<Drawable>` to `@Composable () -> RequestBuilder<Drawable>` so that the default parameter value is not evaluated immediately.

Here's the diff: https://github.com/nosyjoe/Landscapist/commit/899a0b8c3f4db061e0b875a591daf89

[2021-11-05 02:08] skydoves commented on #76
Awesome! I will check into this today. :)

[2021-11-05 08:33] skydoves commented on #76
Hey @nosyjoe,
I just published a `1.4.2-SNAPSHOT` and you can import it following [this](https://github.com/skydoves/Landscapist#snapshot) guide.
Could you please it works for your project?

Thanks!

[2021-11-07 17:25] nosyjoe commented on #76
@skydoves it does work well. Both preview and in an app. Thanks for the quick fix!

[2021-11-09 05:08] shubhampatel-hotstar opened #84 "Local drawables proportion not remaining intact"
**Please complete the following information:**
- Library Version [e.g. v1.0.0] v1.3.6
- Affected Device(s) [e.g. Samsung Galaxy s10 with Android 9.0] Android 11

**Describe the Bug:**

While using `CoilImage` with the local drawable resource, the image is becoming bigger than its actual proportions. Also while passing the resource as a `painterResource(R.drawable.sample)` the same thing happening.

[2021-11-09 05:10] skydoves commented on #84
The sizes depend on the parent's layout size.
Could you build with this code?
[code]

[2021-11-09 06:03] shubhampatel-hotstar commented on #84
Now I am unable to see the bitmap itself. Here is the composable that I am using -
`
@Composable
fun Title() {
    Box(modifier = Modifier.width(312.dp).height(100.dp)) {
        CoilImage(
            imageModel = R.drawable.sample_title_image,
            contentDescription = "movie"
        )
    }
}
`

[2021-11-10 14:45] skydoves commented on #84
I guess one thing is missing:

[code]

[2021-11-14 10:07] skydoves commented on #84
Will close this issue.
Please reopen if you get the same issue again. :)

[2021-11-14 10:07] #84 closed

[2021-11-29 11:54] NazarDunets opened #92 "Doubled offset from Modifier.offset()"
Info:
- landscapist-glide:1.3.7
- Pixel 4a API 31 (physical). Pixel 2 API 29 (emulator)

Bug:

When using Modifier.offset(), actual image is located in position offsetVariable * 2. If I set background with Modifier.background, it is located in correct position, while image is not. Problem is not related to offset calculation on my side, any other composable works fine.

Expected Behavior:

Image i

[2021-11-29 15:36] skydoves commented on #92
Hey @NazarDunets,
Is the same result if you build with the recent version `1.4.3`?

[2021-11-30 09:44] NazarDunets commented on #92
Should've checked that in the first place. Works as intended with 1.4.3.

[2021-11-30 09:44] #92 closed

[2022-01-10 03:26] andreas-kkday opened #97 "placeholder not working, StateListDrawable cannot be cast to BitmapDrawable"
**Please complete the following information:**
- Library Version 1.4.5
- Affected Device(s) emulator android 12

**Describe the Bug:**

Use placeholder code in README

[code]

App crash
[code]

**Expected Behavior:**

I could not find placeholder example in the project.

[2022-01-10 03:39] skydoves commented on #97
Hey @andreas-kkday,
The crash shows you used `StateListDrawable` instead of the `BitmapDrawable`.
Could you try to build with another single-state image? such as `ic_android.xml` or something just an icon image.

[2022-01-10 03:59] andreas-kkday commented on #97
Thank you, using .png image resource is working.

[2022-01-10 03:59] #97 closed

[2022-01-12 20:14] jschleppy opened #98 "Coil VideoFrame ComponentRegistry Not Working"
- Library Version 1.4.5
- Affected Device(s) all

I'm trying to use Coil feature to load video thumbnails, but can't get it to work. Following documentation [seen here](https://coil-kt.github.io/coil/videos/), I have added the dependency, then registered the three video frame component's to the ImageLoader passed into CoilImage.

Additionally, since I don't have access to the load function, I can'

[2022-01-19 07:53] skydoves commented on #98
Hey @jschleppy, sorry for the late response. Landscapist doesn't support the feature, which plays a video for now. I'll consider supporting this in the future. Anyway thanks for reporting this issue!

[2022-02-07 13:01] pepijntb opened #104 "Modifier is passed to loading / error images"
- glide:1.4.6
- All devices

**Describe the Bug:**

It took some time to find out that the modifier was passed along to the placeholder and error images. This makes setting the padding a bit cumbersome. In my case the placeholder image was very small but this was due to the paddings being set twice.

**Expected Behavior:**

I would expect the placeholder and error image to be drawn inside the Glid

[2022-02-07 13:55] skydoves commented on #104
Hi @pepijntb, thank you for filing this issue.
Could you please also provide your code and results? Thanks!

[2022-02-07 14:25] skydoves commented on #104
@pepijntb
You can use the patch version `1.4.7-SNAPSHOT` now and it will be included in the next release.
Thanks!

[2022-02-07 23:15] #104 closed

[2022-02-12 15:45] M3000j opened #108 "Duplicate class error when updating library to version 1.4.8"
**Please complete the following information:**
- Library Version [v1.4.8]
- Affected Device(s) [Can't build it,]

**Describe the Bug:**
After updating the following library "landscapist-glide" to new version 1.4.8 using Gradle, a Bunch of errors is shown in  the build log demonstrating the duplicate class found.

[code]

**Expected Behavior:**
how to solve the issue and build the project using new

[2022-02-12 16:21] skydoves commented on #108
Hi @M3000j,
Could you expand on this? The log shows every class getting duplicated, and I guess the Gradle importing libraries twice.
Maybe you could try to clean and rebuild. And I'm also wondering which version did you use previously.

[2022-02-13 08:42] rychagovDi opened #109 "Can't attach library sources"
- Library Version [tried with  v1.4.5, v1.4.6]
- Affected Device(s) [any]
- AndroidStudio - both ArcticFox and Bumblebee

Hi! Thank you for this library!
Unfortunately I faced a problem: I can't see library source code when add it as Gradle dependency, only as decompiled .class file.
<img width="892" alt="image" src="https://user-images.githubusercontent.com/17481290/153745558-8d26437e-282b-4114-a

[2022-02-13 09:32] #108 closed

[2022-02-13 09:34] skydoves commented on #109
Hi @rychagovDi,
This is not a library issue, maybe you should report this [gradle](https://github.com/gradle/gradle).
It seems your Gradle setup does not catch the `jar` source of your dependencies.

[2022-03-25 13:44] FVerhamme opened #117 "ClassCastExpetion and imageState problem"
I tried the library with Glide as described with a default placeholder an an error placeholder.
[code]
The app crashes with the following error:
java.lang.ClassCastException: android.graphics.drawable.VectorDrawable cannot be cast to android.graphics.drawable.BitmapDrawable

Second:
If tried with state the given example shows the following:
[code]
But imageState will return a drawable. In this cas

[2022-03-28 11:13] G00fY2 opened #118 "Bad maven deployment after updating publish-plugin"
Same as https://github.com/skydoves/Balloon/issues/318 for this project.

[landscapist-1.5.0-debug.aar](https://repo1.maven.org/maven2/com/github/skydoves/landscapist/1.5.0/), [landscapist-1.5.0-release.aar](https://repo1.maven.org/maven2/com/github/skydoves/landscapist/1.5.0/) instead of [landscapist-1.4.9.aar](https://repo1.maven.org/maven2/com/github/skydoves/landscapist/1.4.9/).

[2022-04-03 04:01] skydoves commented on #117
Hi @FVerhamme, sorry for the late response.

1. When you use a vector resource, you should use the `ImageVector` instead of the `ImageBitmap` as below:
[code]

2. You can use `rememberDrawablePainter` with the `drawable`.
[code]

Thanks!

[2022-04-03 04:01] #117 closed

[2022-04-04 14:12] #118 closed

[2022-04-13 14:12] CyrilNb opened #121 "Duplicate class found in modules when adding 'https://jitpack.io' in repository"
**Please complete the following information:**
- Library Version [v1.4.8]
- Affected Device(s) [Oneplus 8 pro with Android 11]

**Describe the Bug:**

When adding `maven { url 'https://jitpack.io' }` in my build.gradle under `repositories`, when I try to run I got this error saying there are duplicates class in your library.

Add a clear description about the problem.
[code]

Is there something to

[2022-04-13 14:15] skydoves commented on #121
Could you please check the error happen in the `1.5.1` as well? Thanks!

[2022-05-03 15:19] ninovanhooff opened #124 "Library not compatible with Compose Preview"
**Please complete the following information:**
- Library Version 1.5.1
- Affected Device(s): Android Studio Preview

**Describe the Bug:**

The layout preview crashes with the stacktrace added to the bottom of this post.
The reason is probably that the library runs in a fake environment, where the manifest is not available
<img width="419" alt="image" src="https://user-images.githubusercontent.com

[2022-05-03 15:30] skydoves commented on #124
Hi, could you elaborate on this?
Check out the [Preview on Android Studio](https://github.com/skydoves/landscapist#preview-on-android-studio), and you can display previews with the `previewPlaceholder` parameter as following:

[code]

[2022-05-03 16:50] ninovanhooff commented on #124
Yep, I should have read the Readme. Sorry for wasting your time

[2022-05-03 16:50] #124 closed

[2022-05-25 08:42] luiscurini opened #128 "Height issue with ContentScale.FillWidth"
- Library Version: landscapist-coil:1.5.2
- Affected Device: Emulator Android 10, Samsung devices Android 11/12

**Describe the Bug:**

I wanted to add rounded corners to images that I'm loading, their contentScale is set to ContentScale.FillWidth, so I'm expecting that once the image is loaded the bounds are updated and the clip() modifier is applied. I added a border so the issue can be visible.

[2022-06-13 17:17] andreas-umbricht opened #132 "LazyVerticalGrid Fresco scroll crash"
- Library Version com.github.skydoves:landscapist-fresco:1.5.2
- Affected Device: Google Pixel 4a (Android 12)
- Not Reproducable: Huawei P30 Pro (Android 11)
- target & compile Sdk: 31
- compose version: 1.2.0-beta02

**Describe the Bug:**

When using a LazyVerticalGrid with following minimal example, the app crashes upon scrolling, when using more than 30+ image Items.
I can't reproduce the cras

[2022-06-14 02:44] skydoves commented on #132
Hi, thank you for describing the details.

I have two questions below:
- Does the same issue happen if you use the `1.5.3-SNAPSHOT`?
- Does the same issue happen if you use `GlideImage` or `CoilImage`?

Thanks!

[2022-06-14 09:49] andreas-umbricht commented on #132
When I use the same example with `com.github.skydoves:landscapist-glide:1.5.2` everything works as expected. Thanks for the hint!

[code]

When I use the example with `com.github.skydoves:landscapist-coil:1.5.2` it also takes forever to load the images, or they don't get loaded at all. At least it doesn't crash unlike Fresco.

Sadly, I wasn't able to test `1.5.3-SNAPSHOT`. I tried `implementation

[2022-06-14 10:09] skydoves commented on #132
Thank you for checking this!
You should add the repository URL below in your `gradle.build` file:

[code]

You can see the instruction here: https://github.com/skydoves/landscapist#snapshot

[2022-06-14 13:05] andreas-umbricht commented on #132
Ah, silly me. Thanks for the instruction.
Using `1.5.3-SNAPSHOT`, Fresco does not crash anymore luckily, but Fresco and Coil still don't load all images or it takes ages to do so.
I think, I will stick with Glide for the moment.

[2022-06-15 11:44] skydoves commented on #132
Thanks for checking the details.
It seems a library issue for the Coil and Fresco, but let me debug the details and keep you updated on this. Thanks!

[2022-06-15 11:44] #132 closed

[2022-06-15 12:53] skydoves commented on #128
@luiscurini  Sorry for the late response.
What about you giving a specific height size for the `CoilImage`?

[2022-06-15 13:17] luiscurini commented on #128
Hi problem @skydoves, well the idea with this pager is to load different images from the content URIs. They can occupy the maxHeight of the parent as long as FillWidth is respected.

[2022-06-19 14:40] thekingrenz23 opened #135 "GlideImage wont load drawable image"
**General Information:**
- Library Version [1.5.2]
- Affected Device(s) [All]

**Bug description:**

Loading a drawable image does not work
[code]

**Expected Behavior:**

Should load the drawable image

[2022-06-19 15:16] skydoves commented on #135
Try this:

[code]

[2022-06-19 15:50] thekingrenz23 commented on #135
it works thanks

[2022-06-19 15:50] #135 closed

[2022-06-23 09:31] 474246820 opened #137 "Caused by: org.gradle.internal.resolve.ArtifactNotFoundException: Could not find landscapist-fresco-1.5.2.jar (com.github.skydoves:landscapist-fresco:1.5.2)."
**Please complete the following information:**
- Library Version [1.5.2]
- Affected Device(s)
all
**Describe the Bug:**
Caused by: org.gradle.internal.resolve.ArtifactNotFoundException: Could not find landscapist-fresco-1.5.1.jar (com.github.skydoves:landscapist-fresco:1.5.1).
**Expected Behavior:**
If this dependency is added, an error will be reported

[2022-06-30 13:41] skydoves commented on #137
Please make sure your project includes the `mavenCentral()` and added the dependency below:

[code]

If you face the same issue, check out your Gradle build/cache systems.

Also, you can check out the artifact is released on maven central properly here - https://search.maven.org/artifact/com.github.skydoves/landscapist-fresco/1.5.2/aar

[2022-06-30 13:41] #137 closed

[2022-07-10 02:10] ichvandi opened #146 "Coil.imageLoader is leaking"
**Please complete the following information:**
- Library Version : v1.5.2
- Affected Device(s) : Android Emulator Pixel 4 API 32

**Describe the Bug:**

Coil.imageLoader is detected leaking by LeakCanary, when navigating to another screen

<img width="591" alt="image" src="https://user-images.githubusercontent.com/23291739/178128468-db127568-55da-4cf3-a620-4071407a06b3.png">

[Leak Canary Log](htt

[2022-07-13 02:08] andreas-kkday opened #147 "Fixed height and wrap image width possible?"
**Is your feature request related to a problem?**

I need to load image with arbitrary width/height ratio, but fixed result image height.

[code]

![圖片](https://user-images.githubusercontent.com/97014255/178635730-e76c8097-3e45-48ea-ab45-fe04ad001233.png)

There should be no blue area.

**Describe the solution you'd like:**

Get Image size after loaded ?

**Describe alternatives you've considered:

[2022-07-13 02:32] andreas-kkday commented on #147
Replace `.wrapContentWidth()` with `.width(IntrinsicSize.Max)`

[Reference](https://stackoverflow.com/questions/66458270/modifier-wrapcontentwidth-vs-modifier-widthintrinsicsize-max-in-android-jetp)

[2022-07-13 02:32] #147 closed

[2022-07-16 09:00] skydoves commented on #146
Hey @ichvandi,
I tested with version 1.5.3` with some projects including [DisnyCompose](https://github.com/skydoves/disneycompose), but I couldn't represent the memory leak issue. Could you expand on this more? I guess it seems like an internal issue of Coil.

[2022-07-21 23:44] skydoves commented on #146
For now, will close this issue. If you feel this issue happened by this library, please re-open and discuss it here again. Thanks!

[2022-07-21 23:44] #146 closed

[2022-07-25 11:03] 474246820 opened #148 "Caused by: org.gradle.api.internal.artifacts.transform.TransformException: Failed to transform landscapist-1.5.3.jar"
Caused by: org.gradle.api.internal.artifacts.transform.TransformException: Failed to transform landscapist-1.5.3.jar (com.github.skydoves:landscapist:1.5.3) to match attributes {artifactType=android-jni, org.gradle.category=library, org.gradle.libraryelements=jar, org.gradle.status=release, org.gradle.usage=java-runtime}.

when i set 【implementation "com.github.skydoves:landscapist-fresco-websuppo

[2022-07-25 12:25] HumaidALKhathami opened #149 "ModelLoaders"
I recently upgraded my compose version to 1.3.0-beta01 and kotlin to 1.7.10

and got the below error whenever I start my application.

com.bumptech.glide.Registry$NoModelLoaderAvailableException(Failed to find any ModelLoaders registered for model class: class androidx.compose.ui.graphics.vector.ImageVector)

I tried and put my compose version to 1.2.0-beta03 and kotlin to 1.6.21 (as recommended b

[2022-07-26 07:45] #149 closed

[2022-08-13 07:34] skydoves commented on #148
Hi @474246820, please reopen this if you face the same issue with the latest version. Thanks!

[2022-08-13 07:34] #148 closed

[2022-08-14 22:34] devandanger commented on #128
I'm running into the same problem.  I don't get the problem in compose preview using previewHolder, but run into it on emulator runs.

<img width="315" alt="image" src="https://user-images.githubusercontent.com/718744/184557255-649c3492-8e3b-4ab9-87c1-795b61fc33a0.png">

[2022-08-24 11:30] alexzaitsev opened #152 "SVG images are not loaded with Glide module"
I'm using `implementation "com.github.skydoves:landscapist-glide:1.5.2"`.

My Composable:
[code]

Failure callback is called. Logs:
[code]

Image I'm trying to load: `https://metadata.unstoppabledomains.com/image-src/ml2ud003.nft?withOverlay=false&mobileApp=true`

Seems that SVG is not supported. I haven't managed to find any decent piece of information how to set up it. Could you assist?

[2022-08-25 05:43] skydoves commented on #152
Hey, this issue is reported in [Glide](https://github.com/bumptech/glide/issues/4495) issue, which describes that the URL is not pointing directly to an image.

[2022-09-12 05:40] #152 closed

[2022-09-16 23:38] kurteous opened #172 "Avoid excessive network requests when image fails to load"
We have a case where we may get a bad URL as input, and the image will fail to load. In this case, upon every recomposition `GlideImage` will try to reload the failing image. This is a lot of unnecessary network usage and churn.

Any ideas how to make it stop trying to load after the first failure? It doesn't look like Glide itself has this feature (maximum retries, for instance).

Thanks!

[2022-09-16 23:53] skydoves commented on #172
@kurteous Hey, could you share the library version you use with me? Thanks!

[2022-09-18 19:48] jaredsburrows opened #173 "[Glide] Add Gif support with GlideImage"
The `LocalGlideProvider` only supports `Drawable?`:
[code]

By changing this to support `GifDrawable?`, we can support Glide's `.asGif()`:
[code]

Can we provide a `LocalGlideGifProvider`, `LocalGlideBitmapProvider` and `LocalGlideDrawableProvider` providers?

[2022-09-19 16:15] kurteous commented on #172
I am using 1.5.2.

One approach is to remember load failure outside the `GlideImage` function call:

[code]

Trying this, I see that a new instance of `failedToLoad` is created on occasion, wiping out whatever the saved state is and potentially allowing a new failing network call, which means (I think) that I need to hoist that state higher into something that's not subject to recomposition, like

[2022-09-30 17:46] antonb03 commented on #128
I am seeing the same issue with the `GlideImage`. I think the issue might be in `GlideImage` in line 169
[code]
The LandscapistImage doesn't use the passed `modifier` but I am not sure, just a guess

[2022-09-30 18:27] antonb03 commented on #128
As a workaround, the `success` callback can be used
[code]

[2022-10-01 01:47] skydoves commented on #128
Thanks for tinkering with this issue @antonb03! Let me check more details and get back to you soon.

[2022-10-01 02:16] skydoves commented on #172
@kurteous, Thanks for sharing your idea with me!
In `2.0.1-SNAPSHOT`, recomposition performance was improved so It might work without the tricky solution you've suggested. Could you build with the snapshot version?

[2022-10-03 01:52] skydoves commented on #128
Hi guys, I built the codes below with version `2.0.0` and it seems to work for me.

![Screen Shot 2022-10-03 at 10 50 25 AM](https://user-images.githubusercontent.com/24237865/193488135-37364c39-a8ca-4956-940d-d78de6233741.png)

[code]

Please try to the new release and if you still face the same issue, I'd appreciate it if you could share some examples. Thanks!

[2022-10-12 01:41] skydoves commented on #172
Hi @kurteous, any updates from your side?

[2022-10-12 23:28] antonb03 commented on #128
I created a sample project that reproduces the problem. You can check it here https://github.com/antonb03/fillwidthexample

[2022-10-13 12:07] RishiKrYML opened #184 "Blur effect on image | applying transformation on glide view"
**Is your feature request related to a problem?**
I have the requirement of showing different loading/error/success state in my composable.  I also need to apply blur effect (right now just this, for other people it could be some other effect ) for success image.

**Describe the solution you'd like:**

I am not sure if there is already support of such in landscapist.

If yes, then could u please h

[2022-10-13 15:10] skydoves commented on #184
Hi @RishiKrYML,
You can apply the blur effect by adding the `blur` method to your modifier.

[code]

Also, you can customize the loading/error/success with the [Custom Composables](https://github.com/skydoves/landscapist#custom-composables).

[2022-10-13 21:42] LilMoke opened #185 "Need assistance updating to v2..."
I have upgraded Lanscapist to 2.0.  This is my code:

[code]

I changed it to this, but cannot solve the unresolved references:

[code]

How would I change that to work with version 2?  Is there a sample that uses the Shimmer Plug In?

What do I add to have access to the shimmer plug in?

Thank you for the help.

[2022-10-13 21:52] LilMoke commented on #185
I need to add this to my grade file, I think I am all set.

`	implementation("com.github.skydoves:landscapist-placeholder:$landscapist_version")
`

[2022-10-13 22:07] LilMoke commented on #185
Ok, I cannot find where to put these:

`		contentScale = ContentScale.Crop,
		contentDescription = "${title} Clip #${(it + 1).toString()}",
		placeHolder = ImageBitmap.imageResource(R.drawable.ic_image_loading),
		error = ImageBitmap.imageResource(R.drawable.ic_image_load_error),
`

Thanks for the help

[2022-10-13 23:20] skydoves commented on #185
Hi, you can use `imageOptions` to set the `contentScale` and `contentDescription` like the below:

[code]

[2022-10-14 06:53] RishiKrYML commented on #184
Hi @skydoves,
That's the solution I tried but it looks to be working only in Android 12 and above.
Reference : https://stackoverflow.com/a/69224858/14034095

There are other messy ways to do like,
1. Manually get drawable is success call back ->convert to bitmap -> apply transformation -> use output bitmap into compose view
2. Get a blur asset and show it as a overlay on top of the drawable, (resi

[2022-10-15 06:09] skydoves commented on #128
@antonb03 Could you give me the expected result as well?
In this case, you should specify the `height` size like the below:

[code]

[2022-10-15 06:21] #185 closed

[2022-10-16 08:13] skydoves commented on #173
Hey @jaredsburrows,
I'm currently working on this, and I have a question about this. I was thinking Glide automatically loads either a GifDrawable or a BitmapDrawable depending on the type of the underlying image. Do we have any problems loading gif images now? Thank you for reporting this issue!

[2022-10-16 09:29] #172 closed

[2022-10-16 11:16] skydoves commented on #184
Hey @RishiKrYML here is the best solution:

1. Add the dependency below:

[code]

2. Set the `glideRequestType` and `requestBuilder` parameters like the below:

[code]

The `glideRequestType` parameter is available since the version `2.0.2`. Thanks!

[2022-10-16 15:23] skydoves commented on #184
Hey @RishiKrYML, since version `2.0.2` you can implement the blur effect with `BlurTransformationPlugin` in the `landscapist-transformation` package.

Check out the documentation for more details: https://github.com/skydoves/landscapist#transformation

[2022-10-16 15:27] skydoves commented on #173
Since version `2.0.2`, you can set `glideRequestType` parameter as the below:

[code]

GlideRequestType supports three different request types:

[code]

Thanks!

[2022-10-17 12:14] Forcharc opened #188 "No support for real target image sizes in glide"
As I see in FlowCustomTarget it uses Target.SIZE_ORIGINAL, and not the real width/height
Which is bad, because it could potentially hold unnecessary big sizes of an image.

Do you have any plans on fixing that?

[2022-10-17 12:58] skydoves commented on #188
Hey @Forcharc, thanks for reporting this. I'm planning to implement the custom target size in the next release.

[2022-10-18 14:04] antonb03 commented on #128
In my case, I don't want to hardcode the image height because the images from the url can be of various heights. Also, screen width is different for different devices and it is nicer UI when the height of the image is scaled proportionally to the width instead of being hardcoded.
The expected behavior is to fill max width of the screen and the height should be scaled proportionally.

I can add som

[2022-10-20 00:41] #184 closed

[2022-10-22 15:43] jaredsburrows commented on #173
@skydoves Thanks. I have tried the following but the gifs are not animating:

[code]

[2022-10-23 06:01] skydoves commented on #173
@jaredsburrows
Thanks for the reporting with details! I'm not sure what I'm missing, but the codes below work well. Let me check out more details!

[code]

[2022-10-23 06:05] skydoves commented on #173
The example below works well for me 🤔

[code]

[2022-10-23 22:03] jaredsburrows commented on #173
@skydoves Thanks. I got it working. I appreciate the update.

[2022-10-23 22:03] #173 closed

[2022-10-26 14:06] RishiKrYML commented on #184
Hi @skydoves,
Thank you for above quick response.

There is one more thing,
If I use with 'success' callback , blur effect doesn't work.
If I remove 'success' block blur effect works.

If it could easily solved then please let me know, If more work required we can leave if for now. (My requirement requirements requires to show shimmer while loading and then )

Below works.
`
 GlideImage(

[2022-11-03 11:18] RishiKrYML opened #191 "Blur transformation not working along with success callback"
**Please complete the following information:**
- lib version 2.0.2.
- Samsung Galaxy s10 with Android 12 and emulator. [All devices]

**Describe the Bug:**
I had requested for blur transformation effect. You had provided BlurPlugins.  But blur effect does not work on work if I also using success callback .

Below works.
`GlideImage( imageModel = { imageUrl.toString() }, component = rememberImageCo

[2022-11-11 15:57] tkrullmann opened #194 "FrescoImage: bitmaps may be recycled while image is displayed"
Library Version: 2.0.3

Hi,

first of all, thanks for the great library, it has been very useful to me in my project!

I've encountered the following issue with _landscapist-fresco_: The bitmaps displayed in the `FrescoImage` component seem to be eligible for recycling even while they are still being displayed.

When showing a lot of `FrescoImage`s in a large `LazyList` and scrolling back and fort

[2022-11-12 01:16] #194 closed

[2022-11-12 01:59] skydoves commented on #191
Hey @RishiKrYML, could you try the code below?

[code]

Essentially, `rememberBitmapPainter` is an internal API, but you can apply the blur transformation in this manner.

[2022-11-12 05:08] skydoves commented on #188
Hey @Forcharc,

Since version **2.1.0**, you can set the request size of your image by giving `requestSize` property as seen in the below:

GlideImage(
  ..
  imageOptions = ImageOptions(requestSize = IntSize(800, 600)),
)

Thanks for the reporting!

[2022-11-12 05:10] skydoves commented on #128
Hi everyone, this issue has been fixed since version **2.1.0**. Thank you for the reports!

[2022-11-12 08:09] #188 closed

[2022-11-14 16:33] antonb03 commented on #128
Just tested it and it works as expected. Thank you so much! @luiscurini I think the issue can be closed

[2022-11-14 22:03] skydoves commented on #128
Awesome. Thank you for checking those, @antonb03!

[2022-11-14 22:03] #128 closed

[2022-11-16 00:22] #191 closed

[2022-11-16 23:24] skydoves commented on #98
I'm closing this issue now because I don't have plans yet for supporting this.

[2022-11-16 23:24] #98 closed

[2022-11-16 23:38] jschleppy commented on #98
All good, thanks for considering it. I landed on using Coil directly so this is no longer needed by me.

[2022-11-18 10:28] ABIlunar opened #202 "ContentScale when inside ConstraintLayout works differently on 2.0.3 and 2.1.0"
When GlideImage is used inside a ConstraintLayout on 2.1.0, and contentScale is set to "Crop", it behaves as "Fit"

I have attached 2 images, where the only difference in code is the version bump from 2.0.3 to 2.1.0.

2.0.3
<img width="281" alt="image" src="https://user-images.githubusercontent.com/97034926/202679842-1ccaf62c-b497-4a39-bb66-c041668550c5.png">

2.1.0
<img width="336" alt="image (1)

[2022-11-18 12:06] skydoves commented on #202
Due to fixing the #128 issue, you should specify `fillMaxSize()` if you want to match it to the parent composable.

[2022-11-18 15:56] acaliaro opened #203 "java.lang.NullPointerException"
**Please complete the following information:**
- Library Version com.github.skydoves:landscapist-glide:2.0.1
- Affected Device(s) Android Studio Preview

**Describe the Bug:**

I try to have a preview in Android Studio but I have an exception

`
  @Composable
  fun AvatarView(){
      GlideImage(
          modifier = Modifier
              .width(80.dp)
              .height(80.dp)
              .

[2022-11-19 03:23] skydoves commented on #203
Hey, could you expand on this? Also, I would recommend you check [this doc](https://github.com/skydoves/landscapist#preview-on-android-studio).

[2022-11-19 03:23] skydoves commented on #203
Hey, could you expand on this? Also, I would recommend you check [this doc](https://github.com/skydoves/landscapist#preview-on-android-studio).

[2022-11-21 06:57] acaliaro commented on #203
It's enough, thanks

[2022-11-21 06:57] #203 closed

[2022-11-21 06:57] #202 closed